<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>es02-01</title>
	<%- include('../shared/htmlhead') %>
</head>

<body>
	<%- include('../shared/header') %>
	<%- include('../shared/sub_visual') %>

	<!-- subContainer -->
	<article id="sub-container" class="sub-section">

		<!-- 타이틀 -->
		<div class="sub-title">
			<h3>
				분류 선택 <button class="btn-all-category"><i></i>카테고리 전체보기</button>
			</h3>
			<div class="search-box">
				<input type="text" id="search" placeholder="과정명을 입력하세요.">
				<button type="submit" class="btn-search">검색하기</button>
			</div>
		</div>

		<!-- 대분류 -->
		<div class="tabs-type depth-catecory-1">
			<ul>
				<li class="active"><a href="#">기본법정교육</a></li>
				<li><a href="#">안전보건교육</a></li>
				<li><a href="#">특화법정교육</a></li>
			</ul>
		</div>

		<!-- 중분류 -->
		<div class="tabs-list-type depth-catecory-2">
			<ul>
				<!-- 전체선택 Default -->
				<li class="select-all active"><a href="#"><i></i>전체</a></li>
				
				<!-- 개별 탭 클릭시 .active toggle -->
				<li><a href="#"><i></i>성희롱 및 4대폭력 예방</a></li>
				<li><a href="#"><i></i>개인정보보호</a></li>
				<li><a href="#"><i></i>직장 내 장애인 인식개선</a></li>
				<li><a href="#"><i></i>퇴직연금</a></li>
				<li><a href="#"><i></i>직장 내 괴롭힘 예방</a></li>
				<li><a href="#"><i></i>패키지</a></li>
				<li><a href="#"><i></i>영문 법정교육</a></li>
			</ul>
		</div>

		<!-- 과정선택 가이드 -->
		<div class="edu-guide">
			<strong class="tit">법정의무교육 대상자 안내</strong>
			<ul>
				<li>- 대표자, 상시근로자, 위촉, 촉탁, 계약, 파견, 외주, 아르바이트 등 모두를 포함합니다.</li>
				<li>- 중도입사자는 입사년도에 교육 진행하시는 것이 원칙입니다.</li>
				<li>- 휴직자 : 교육일 기준으로 사업장 내 부재중인 근로자에 대해서는 별도의 교육의무가 없습니다.</li>
			</ul>
		</div>
		
		<!-- content -->
		<div class="content">
			<p class="result-search">총 <span>10</span>개의 과정이 검색되었습니다.</p>

			<div class="subject-select-wrap">

				<!-- grid-left -->
				<div class="subject-list">

					<div class="list-item-header">
						<ul>
							<li>과정명</li>
							<li>정가</li>
							<li>제안가</li>
							<li>선택</li>
						</ul>
					</div>

					<div class="subject-list-wrap">
						<div class="list-item">
							<div class="item">
								<span class="thumbnail">
									<img src="<%= imgUrl %>/pc/contents_slide_img01.jpg" alt="">
									<a href="#" class="icon-play"><i>영상재생</i></a>
								</span>
								<p class="title">성희롱 예방교육</p>
							</div>
							<div class="item price">
								<span>1,000,000원</span>
							</div>
							<div class="item price-proposal">
								<span>169,000원</span>
							</div>
							<div class="item select-btn">
								<button>과정선택</button>
							</div>
						</div>

						<div class="list-item">
							<div class="item">
								<span class="thumbnail">
									<img src="<%= imgUrl %>/pc/contents_slide_img01.jpg" alt="">
									<a href="#" class="icon-play"><i>영상재생</i></a>
								</span>
								<p class="title">성희롱 예방교육</p>
							</div>
							<div class="item price">
								<span>1,000,000원</span>
							</div>
							<div class="item price-proposal">
								<span>169,000원</span>
							</div>
							<div class="item select-btn">
								<button>과정선택</button>
							</div>
						</div>

						<div class="list-item">
							<div class="item">
								<span class="thumbnail">
									<img src="<%= imgUrl %>/pc/contents_slide_img01.jpg" alt="">
									<a href="#" class="icon-play"><i>영상재생</i></a>
								</span>
								<p class="title">과정명을 입력하세요. 과정명을 입력하세요. 과정명을 입력하세요. 과정명을 입력하세요. 과정명을 입력하세요.</p>
							</div>
							<div class="item price">
								<span>1,000,000원</span>
							</div>
							<div class="item price-proposal">
								<span>169,000원</span>
							</div>
							<div class="item select-btn">
								<button>과정선택</button>
							</div>
						</div>

						<div class="list-item">
							<div class="item">
								<span class="thumbnail">
									<img src="<%= imgUrl %>/pc/contents_slide_img01.jpg" alt="">
									<a href="#" class="icon-play"><i>영상재생</i></a>
								</span>
								<p class="title">성희롱 예방교육</p>
							</div>
							<div class="item price">
								<span>1,000,000원</span>
							</div>
							<div class="item price-proposal">
								<span>169,000원</span>
							</div>
							<div class="item select-btn">
								<button>과정선택</button>
							</div>
						</div>

						<div class="list-item">
							<div class="item">
								<span class="thumbnail">
									<img src="<%= imgUrl %>/pc/contents_slide_img01.jpg" alt="">
									<a href="#" class="icon-play"><i>영상재생</i></a>
								</span>
								<p class="title">성희롱 예방교육</p>
							</div>
							<div class="item price">
								<span>1,000,000원</span>
							</div>
							<div class="item price-proposal">
								<span>169,000원</span>
							</div>
							<div class="item select-btn">
								<button>과정선택</button>
							</div>
						</div>

						<div class="list-item">
							<div class="item">
								<span class="thumbnail">
									<img src="<%= imgUrl %>/pc/contents_slide_img01.jpg" alt="">
									<a href="#" class="icon-play"><i>영상재생</i></a>
								</span>
								<p class="title">성희롱 예방교육</p>
							</div>
							<div class="item price">
								<span>1,000,000원</span>
							</div>
							<div class="item price-proposal">
								<span>169,000원</span>
							</div>
							<div class="item select-btn">
								<button>과정선택</button>
							</div>
						</div>

						<div class="list-item">
							<div class="item">
								<span class="thumbnail">
									<img src="<%= imgUrl %>/pc/contents_slide_img01.jpg" alt="">
									<a href="#" class="icon-play"><i>영상재생</i></a>
								</span>
								<p class="title">성희롱 예방교육</p>
							</div>
							<div class="item price">
								<span>1,000,000원</span>
							</div>
							<div class="item price-proposal">
								<span>169,000원</span>
							</div>
							<div class="item select-btn">
								<button>과정선택</button>
							</div>
						</div>
					</div>
				</div>
				<!-- /grid-left -->

				<!-- grid-right -->
				<div class="subject-list-sidebar">
					<div class="header">선택 과정</div>
					
					<div class="select-box-wrap">
						<!-- 선택된 과정이 없을때 -->
						<div class="no-select">
							<i></i>
							<p>과정을<br>선택해 주세요.</p>
						</div>
					</div>

					<div class="total-info">
						<div class="total-price">
							<dl>
								<dt>합계</dt>
								<dd>0원</dd>
							</dl>
							<div class="btn-wrap">
								<a href="" class="btn-legal-primary select-init">선택 초기화</a>
								<a href="" class="btn-legal-default estimate-down">견적서 다운로드</a>
							</div>
						</div>
					</div>
				</div>
				<!-- grid-right -->

			</div>
			<!-- /.subject-list-wrap -->
		</div>
		<!-- /content -->

	</article>
	<!-- /subContainer -->

	<!-- script -->
	<script>
		// 중분류 탭 click event
		var depthCatecoryLst = $(".depth-catecory-2 li").not(".select-all"),
			depthCatecorySelectAll = $(".depth-catecory-2 .select-all");

		depthCatecoryLst.on("click", function(e) {
			e.preventDefault();
			depthCatecorySelectAll.removeClass("active");
			$(this).toggleClass("active");

		});

		depthCatecorySelectAll.on("click", function(e) {
			e.preventDefault();
			depthCatecoryLst.removeClass("active");
			$(this).addClass("active");
		});
	</script>
	<%- include('../shared/htmlfoot') %>